@import '../../Styles/mixin';

.data {
    @include pa;
    @include container;

    .data_wrapper {
        @include flex-center;
        flex-wrap: wrap-reverse;
        @include mt;



        .data_left {
            h3 {
                font-size: 2.2rem;
                font-weight: 700;
            }

            p {
                font-size: 1rem;
                font-style: italic;
                margin: .3rem 0;

            }

            button {
                @include orange-cta;
                margin-top: 1rem;
                padding: .8rem 1.5rem;

                @media (max-width:720px) {
                    width: 100%;
                }
            }
        }

        .data_right {
            width: 50%;

            img {
                width: 100%;
            }
        }
    }
}