@import '../../Styles/mixin';

.review_title {
    text-align: center;
    @include mt;
    margin-bottom: 1rem;
    padding: .3rem;

    h2 {
        font-size: 2.5rem;

        @media (max-width:720px) {
            font-size: 2rem;
        }
    }

}

.review {
    margin: 0 auto;
    overflow: hidden;
    max-width: 600px;


    .review_wrapper {
        white-space: nowrap;


        .slide {
            display: inline-block;
            height: 60%;
            width: 100%;
            border-radius: 40px;
            object-fit: cover;
        }
    }
}